<app-header></app-header>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 postcard" *ngFor="let item of items | async">

          <h2><a href="#" [routerLink]="['/post', item.$key	]">{{ item.title  }}</a></h2>
		     
<!--  		                 <a href="#" [routerLink]="['/post', item.$key	]">{{ item.Description  }}</a>
 -->
         </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 postcard" *ngFor="let item1 of items1 | async">

    		                 <a href="#" [routerLink]="['/Challenges', item1.$key ]">{{ item1.Title  }}</a>
          </div>


      </div>

      
    </div> <!-- /container -->
